@font-face {
  font-family:"Sansation";
  src: url(fonts/sansation/Sansation_Regular.ttf);
}

body {
  font-size: 13pt;
  font-family: 'Sansation';
  background-color: rgba(255,245,214,1);
  /* margin-left: 30px; */
  margin: 30px;
}

hr{
  margin-top: 0px;
  margin-bottom: 20px;
}

.top{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 30px; */
}

.left{
  flex: 1;
  margin-right: 30px;
}
.status1{
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
}

.status{
  background: #FB8773;
  /*width: 200px;*/
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-bottom: 5px;
}

.status.gamepad{
  margin-right: 5px;
}
.status.drone{
  margin-right: 5px;
  background: #F4F077;
}

.status.arm{
  background:  #FB8773;
}

.status.thermal-camera{
  background:#b8f592;
}


.mode{
  background-color: lightblue;
  display: flex;
  align-items: center;  /* Center vertically */
  justify-content: center;  /* Center horizontally */
  height: 170px;
  position: relative;
}

.mode_value{
  font-size: 20pt;
}

.gamepad-values{
  display: flex;
  /* align-items: center; */
  justify-content: center;  /* Center horizontally */
}

.controls{
  margin-top: 30px;
}

.controller-image{
  height: 400px;
  background: url("../static/images/controller.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 1;
}

.container{
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 750px;
  /* margin: auto; */
}
.tab {
  padding: 10px 20px;
  background: #FFDFAC;
  color: black;
  cursor: pointer;
  border: none;
  outline: none;
  font-family: "Sansation";
  font-size: 13pt;
}
.tab.active{
  background: #FFD899;
}
.tab-content{
  flex :1;
  display: none;
  padding: 2rem;
  background-color: #FFD899;
  animation: fadeIn 0.2s
}

.tab-content.active{
  display: block;
}

@keyframes fadeIn {
  from{
      opacity:0;
  }
  to{
      opacity:1;
  }
}
